<template>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Users: {{ activeUsers.length }} | Room: {{ room.name }}</div>
                    <div class="card-body">
                        <ul >
                            <li v-for="item in activeUsers">
                                <label v-if="item.id == user.id"><input type="checkbox" disabled> {{ item.email }}</label>
                                <label v-else><input type="checkbox"> {{ item.email }}</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Chat</div>

                    <div class="card-body">
                        <div class="form-group">
                            <textarea class="form-control" cols="30" rows="10" readonly>{{ messages.join('\n')}}</textarea>
                        </div>

                        <div class="input-group write-msg">
                            <input type="text" placeholder="Type Message ..." class="form-control" v-model="textMessage" @keyup.enter="sendMessage" @keydown="actionUser">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-flat" @click="sendMessage">Send</button>
                              </span>
                        </div>
                        <p v-show="isTyping" class="help-block small" style="font-style: italic;">{{ isTyping.name }} набирает текст... {{ isTyping.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'users', 'user', 'room'
        ],
        data() {
            return {
                messages: [],
                textMessage: '',
                isTyping: false,
                typingTimer: false,
                activeUsers: []
            }
        },
        computed: {
            channel() {
                // return window.Echo.private('room.' + this.room.id)
                return window.Echo.join('room.123' + this.room.id)
            }
        },
        mounted() {
            console.log('Component mounted. Room: ' + this.room.id)
            this.channel
                .here((users) => {
                    this.activeUsers = users
                })
                .joining((user) => {
                    this.activeUsers.push(user)
                })
                .leaving((user) => {
                    this.activeUsers.splice(this.activeUsers.indexOf(user), 1)
                })
                .listen('PrivateChat', ({data}) => {
                    this.messages.push(data.body)
                    this.isTyping = false
                })
                .listenForWhisper('typing', (e) => {
                    this.isTyping = e

                    if (this.typingTimer) clearTimeout(this.typingTimer)
                    setTimeout(() => {
                        this.isTyping = false
                    }, 2000)
                })
        },
        methods: {
            sendMessage() {
                axios.post('/message', { body: this.textMessage, roomId: this.room.id })
                    .then(response => {
                        this.messages.push(this.textMessage)
                        this.textMessage = ''
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            actionUser() {
                this.channel
                    .whisper('typing', {
                        name: this.user.name,
                        text: this.textMessage
                    })
            }
        }
    }
</script>

<style>
    li {
        list-style-type: none;
    }
    ul {
        margin-left: 0;
        padding-left: 0;
    }
    .btn-flat {
        border-radius: 0;
        box-shadow: none;
    }
    .write-msg input {
        outline: none;
        /*border: none !important;*/
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
</style>